<launch>
	<!-- Start Gazebo. -->
	<param name="/use_sim_time" value="false"/>
	<node
		pkg="gazebo_ros" type="gazebo" name="gazebo"
		args="empty.world">
	</node>
	<!-- node
		pkg="gazebo_ros" type="" name=""
		args="-urdf -file $(find my_robot_model)/my_robot.xml -model my_robot">
	</node -->

	<node pkg="motor_controller" type="joy_to_twist.py" name="joy_to_twist" respawn="true"> </node>
	<node pkg="motor_controller" type="twist_to_motor.py" name="twist_to_motor" respawn="true"> </node>
	<node pkg="motor_controller" type="wheel_velocity.py" name="fwheel_controller" args="fwheel $(128)" respawn="true"> </node>
	<node pkg="motor_controller" type="wheel_velocity.py" name="bwheel_velocity" args="bwheel $(129)" respawn="true"> </node>
	<node pkg="motor_controller" type="arm_test.py" name="arm_controller" args="arm $(130)" respawn="true"> </node>
	<node pkg="motor_controller" type="arm_test.py" name="hopper_controller" args="hopper $(131)" respawn="true"> </node>

</launch>
